services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - path: .env
        required: false
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
